.container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.time {
    margin-right: 1rem;
    font-size: 1.1rem;
}

.temperature {
    margin-left: 1rem;
    font-size: 1.1rem;
}